<template>
  <div class="players-list">
    <md-table
      v-model="burgerJoints"
      md-sort="id"
      md-sort-order="asc"
      md-card
    >
      <md-table-toolbar>
        <h1 class="md-title">
          Burgers
        </h1>
      </md-table-toolbar>

      <md-table-row
        slot="md-table-row"
        slot-scope="{ item }"
      >
        <md-table-cell
          md-label="Name"
          md-sort-by="name"
        >
          {{ item.name }}
        </md-table-cell>
        <md-table-cell
          md-label="Distance"
          md-sort-by="distance"
        >
          {{ item.distance }}
        </md-table-cell>
        <md-table-cell
          md-label="Photo"
        >
          <img
            v-if="!item.latestPhoto"
            src="../assets/burger.png"
            alt="Burger photo"
            width="100"
            height="100"
          >
          <img
            v-if="item.latestPhoto"
            :src="item.latestPhoto"
            alt="Latest photo"
            width="100"
            height="100"
          >
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
    export default {
        name: 'BurgersList',
        props: {
            burgerJoints: {
                type: Array,
                default: function () {
                    return []
                }
            }
        }
    }
</script>
