<template>
  <div class="page-container">
    <md-app md-mode="reveal">
      <md-app-toolbar class="md-primary">
        <span class="md-title">Burger Client <span v-if="loading"> - Loading list......</span></span>
      </md-app-toolbar>

      <md-app-content>
        <div>
          <md-button
            @click="ping"
          >
            Ping
          </md-button>
          <md-button
            @click="fetchBurgerJoints(false)"
          >
            Get burgers
          </md-button>
          <md-button
            @click="fetchBurgerJoints(true)"
          >
            Get burgers async
          </md-button>
        </div>
        <BurgersList :burger-joints="burgerJoints" />
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
    import BurgersList from './components/BurgersList.vue'

    export default {
        name: 'App',
        components: {
            BurgersList,
        },
        data() {
            return {
                burgerJoints: [],
                loading: false,
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                /*
                this.fetchBurgerJoints();
                this.ping();
                 */
            })

        },
        methods: {
            fetchBurgerJoints: function (async) {
                const baseURI = 'http://localhost:8082/v1/burgers'
                this.loading = true;
                this.burgerJoints = [];
                this.getLocation()
                    .then(location => this.$http.get(baseURI + '?location=' + location + '&async=' + async))
                    .then((result) => {
                        console.log(result.data);
                        this.burgerJoints = result.data.burgers;
                    })
                    .catch((e, r) => console.log(e, r))
                    .finally(() => this.loading = false);
            },

            ping: function () {
                const baseURI = 'http://localhost:8082/v1/burger-backend-api/ping'
                this.$http.get(baseURI)
                    .then(result => console.log(result))
                    .catch(e => console.log(e));
            },
            getLocation: function () {
                return this.$getLocation({})
                    .then(res => res.lat + ',' + res.lng)
                    .catch(e => {
                        console.log(e)
                        return '58.378815,26.739217';
                    });
            }
        },
        rules: [
            // ... other rules omitted

            // this will apply to both plain `.scss` files
            // AND `<style lang="scss">` blocks in `.vue` files
            {
                test: /\.scss$/,
                use: [
                    'vue-style-loader',
                    'css-loader',
                    'sass-loader'
                ]
            }
        ]
    }
</script>

<style lang="scss" scoped>
    .md-app {
        height: 100%;
        border: 1px solid rgba(#000, .12);
    }
    .page-container {
        height: 100%;
    }
</style>
